header, .main, .footer{
    position: relative;
}

body {
    font-family: 'Space Mono', monospace;
    color: #333;
    background-color: black;
    overflow-x: hidden;
}

header {
    background-color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo img {
    width: 55px;
    height: 55px;
    background: transparent;
    border: none;

}
#date{
    color: #7100ff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.buttonsHeader {
    display: flex;
    gap: 15px;
    align-items: center;

}
.buttonsHeader button {
    text-decoration: none;
    color: #7100ff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #7100ff;
    background: black;
}
.buttonsHeader button:hover {
    background-color: #7100ff;
    color: #000000;
}
.main {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.terminal{
    background-color: #000;
    border-radius: 20px;
    margin: 0 auto;
    width: 90vw;
    max-width: 1200px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(27, 253, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.terminal_header{
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(gray, #333);
    height: 40px;
}
.terminal_body{
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.terminal_body::-webkit-scrollbar {
    width: 6px;
}
.terminal_body::-webkit-scrollbar-thumb {
    background: #41e348;
    border-radius: 3px;
}
.terminal_body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}
.terminal_body::-webkit-scrollbar-thumb:hover {
    background: #1ea334;
}
#output{
    color: #41e348;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    padding: 0;
    margin: 0;
}

#matrix-rain{
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.buttons_terminal{
    display: flex;
    align-items: center;
    gap: 10px;
}
.button_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 0;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.button_bar:hover {
    transform: scale(1.1);
}

#button_terminal_exit{
    background-color: #ff0000;
    color: #fff;
}

#button_terminal_minimize{
    background-color: #ffbd2e;
}

#button_terminal_maximize{
    background-color: #28c940;
}
.terminal_prompt{
    color: #777674;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.terminal_input{
    font-family: 'Space Mono', monospace;
    background: transparent;
    border: none;
    color: #41e348;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 10px;
    margin: 0;
}
.terminal_link{
    color: #41e348;
    text-decoration: none;
    cursor: pointer;
}
.terminal_link:hover{
    text-decoration: underline;
}
.password_checker {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 20px;
    width: 90vw;
    max-width: 1200px;
    gap: 40px;
    margin: 20px auto;
    background-color: black;
    color: rgba(27, 253, 0);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(27, 253, 0, 0.5);
}

.checker_section, .generator_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#password_input {
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #41e348;
    border-radius: 5px;
    width: 100%;
    color: #41e348;
    font-size: 16px;
    outline: none;
    padding: 10px;
}
.generated_password_container{
    display: flex;
    gap: 10px;
}
#random_password {
    background-color: #41e348;
    border: 1px solid #41e348;
    border-radius: 1px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
#copy_password{
    display: grid;
    background-color: #41e348;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.slider_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#slider{
    width: 100%;
    accent-color: #41e348;
}

#password_requirements {
    list-style: none;
    padding: 5px;
}

#password_requirements li {
    padding: 5px 0;
    color: #ff0000;
    transition: color 0.3s ease;
}

#password_requirements li.valid {
    color: #41e348;
    text-decoration: line-through;
}
.password_checker_result{
    color: #41e348;
}
#password_generator_output{
    background: transparent;
    width: 100%;
    border: 1px solid #41e348;
    border-radius: 5px;
    color: #41e348;
    font-size: 16px;
    outline: none;
    padding: 10px;
}
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    margin-top: 30px;
    font-weight: 600;
}

@media (max-width: 770px) {
    header {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    .buttonsHeader {
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
        width: 100%;
    }
    .main {
        padding: 10px;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    #output, .terminal_prompt, .terminal_input{
        font-size: 13px;
    }
    .password_checker h2 {
        font-size: 18px;
    }

    #password_requirements li, #password_input, #password_generator_output {
        font-size: 13px;
    }
    .terminal_input{
        padding: 5px;
    }
    .terminal{
        width: 90vw;
        height: 70vh;

    }
    .password_checker {
        grid-template-columns: 1fr;
        width: 90vw;
        gap: 2px;
    }
    .footer {
        padding: 20px;
        font-size: 14px;
    }
}
